

<div class="chat-output">
  <div class="bot-message">
    <div class="message">
 BOT:  Hi There!! I'm your survey Bot
  </div></div></div><br>
<div>{{this.q}}</div>

<div *ngFor="let ih of inps" >
  <div class="chat-output"><div class="bot-message"><div class="message">{{ih}}</div></div></div>><br>
</div>



<div class="Chat_Input">
<div  class="user-input">
  <input type="text" id="text" placeholder="enter your text" (keyup.enter)="Click()"  size="100" [(ngModel)]="todo">
  <button type="button" id="tb" size="20" (click)="Click()"> Send </button>

<a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
<a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
<div class="clearfix"></div>
<audio controls="" *ngIf="url">
  <source [src]="sanitize(url)" type="audio/wav">
</audio></div>
</div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
  * {
    box-sizing: border-box;
  }
  .chat-output {
    flex: 1;
    padding: 20px;
    display: flex;
    background: blue;
    flex-direction: column;
  > div {
    margin: 0 0 20px 0;
  }
  .bot-message {
    text-align: right;
  .message {
    background: #eee;
  }
  .message {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
  }
  }}
  .Chat_Input {

    padding: 20px;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 0;
  .user-input {
    width: 100%;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
  }

</style>

<router-outlet></router-outlet>
